/* define color values */

$deep-blue        : rgba(  46,  49, 146, 1.0 )
$black            : rgba(   0,   0,   0, 1.0 )
$gray-10          : rgba(  25,  25,  25, 1.0 )
$gray-20          : rgba(  51,  51,  51, 1.0 )
$gray-30          : rgba(  76,  76,  76, 1.0 )
$gray-40          : rgba( 102, 102, 102, 1.0 )
$gray-50          : rgba( 127, 127, 127, 1.0 )
$gray-60          : rgba( 153, 153, 153, 1.0 )
$gray-70          : rgba( 178, 178, 178, 1.0 )
$gray-80          : rgba( 204, 204, 204, 1.0 )
$gray-90          : rgba( 229, 229, 229, 1.0 )
$white            : rgba( 255, 255, 255, 1.0 )

$heatmap-color-1  : rgba( 140, 198,  63, 0.5 )
$heatmap-color-2  : rgba(   0, 146,  69, 0.5 )
$heatmap-color-3  : rgba(  41, 171, 226, 0.5 )
$heatmap-color-4  : rgba(  46,  49, 146, 0.5 )
$heatmap-color-5  : rgba( 147,  39, 143, 0.5 )
$heatmap-color-6  : rgba( 212,  20,  90, 0.5 )
$heatmap-color-7  : rgba( 247, 147,  30, 0.5 )
$heatmap-color-8  : rgba( 224, 212,  35, 0.5 )


/* define color-use names (use these vars in rest of code) */

// $main-bg-color    : $deep-blue
$main-bg-color         : $white
$main-p-color          : $gray-10
$main-h-color          : $deep-blue
$main-subheading-color : $gray-50
