@import 'colors'
@import 'helpers'

.content
  margin:         0 auto
  max-width:      100rem
  font-family:    'Open Sans', sans-serif
  font-weight:    lighter
  letter-spacing: 0.03rem

.page-header
  text-align:     center
  border:         0

  .name
    color:        $main-h-color

  .headline
    color:        $main-subheading-color


.mugshot-pie
  height:        40rem
  width:         80rem

.personal-statement
  font-family:   'Bad Script', cursive
  font-size:     2rem
  color:         $main-h-color
  text-align:    center

  p
    margin:      0 auto
    max-width:   60rem
