@import 'colors'
@import 'helpers'

.content
  margin:         0 auto
  max-width:      100rem
  font-family:    'Open Sans', sans-serif
  font-weight:    lighter
  letter-spacing: 0.03rem

  & > section
    margin:      8rem 0

.page-header
  text-align:     center
  border:         0

  .name
    color:        $main-h-color

  .headline
    color:        $main-subheading-color


.mugshot-pie
  height:        35rem

.personal-statement
  font-family:   'Bad Script', cursive
  font-size:     2rem
  color:         $main-h-color
  text-align:    center

  p
    margin:      0 auto
    max-width:   60rem

.experience-etc

  & > div
    vertical-align: top
    display: inline-block
    width:         32%

  .employment-detail
    position: relative
    background: #F6F6F6
    margin-bottom: 5rem
    padding: 2rem

    &:before, &:after
      position: absolute
      width: 49%
      height: 10px
      content: ' '
      left: 1rem
      bottom: 0.75rem
      background: transparent
      -webkit-transform: skew(-5deg) rotate(-5deg)
      -moz-transform: skew(-5deg) rotate(-5deg)
      -ms-transform: skew(-5deg) rotate(-5deg)
      -o-transform: skew(-5deg) rotate(-5deg)
      transform: skew(-5deg) rotate(-5deg)
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3)
      -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3)
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3)
      z-index: -1

    &:after
      left: auto
      right: 1rem
      -webkit-transform: skew(5deg) rotate(5deg)
      -moz-transform: skew(5deg) rotate(5deg)
      -ms-transform: skew(5deg) rotate(5deg)
      -o-transform: skew(5deg) rotate(5deg)
      transform: skew(5deg) rotate(5deg)

  .employment-detail-header
    margin-bottom: 2rem

  .logo
    height: 2.5rem

  .title
    font-size: 2rem
    color: $main-h-color

  .tenure
    font-size: 1.5rem
    color: $gray-60
    font-weight: lighter
