@import "main.less";

.page-header-content {

  .make-row();

  .portrait {
    .make-xs-column( 12 );
    .make-sm-column( 4 );
  }

  .introduction {
    .make-xs-column( 12 );
    .make-sm-column( 8 );
  }

  span {
    display: block;
  }

}

.summary {
  background-color: #7F7F75;
}

.experience {

  ul, li {
    list-style-type: none;
  }

  .highlights {
    .make-row();
  }

  .technology, .leadership, .entrepreneurship {
    .make-xs-column( 12 );
    .make-sm-column( 4 );
  }

}

.education {

  ul, li {
    list-style-type: none;
  }

}

.publications {

  ul, li {
    list-style-type: none;
  }
  
}