@import "main.less";

h2, .lead { 
  text-align : center;
}

hr {
  @media print {
    margin-top : 0.5rem;
    margin-bottom : 0.5rem;
  }
}

h5 {
  font-size : 130%;
  @media print {
    margin-bottom : 0.5rem;
  }
}

.page-header-container {
  background: url(../img/blurred-bg-small.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
}

.container {
  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  @media print {
    font-size: 66%
  }
}

.page-header-content {

  .make-row();
  margin : 30px 50px;

  .portrait {
    .make-xs-column( 12 );
    .make-sm-column( 7 );
    @media print { 
      .make-xs-column-offset( 3 );
      .make-xs-column( 6 );
    }

    text-align : center;
    img {
      width : 100%;
      max-width : 400px;
      border-radius: 200px;
      border : rgba( 255, 255, 255, 0.5 ) 10px solid;
    }
  }

  .introduction {
    .make-xs-column( 12 );
    .make-sm-column( 5 );
    color : #FFF;
    text-align : center;
  }

  .salutation {
    color : rgba( 255, 255, 255, 0.5 );
    margin-top : 5rem;
    margin-bottom : 2rem;
  }

  .first-name {
    font-size : 275%;
    color : rgba( 255, 255, 255, 1 );
    margin-bottom : 0;
  }

  .last-name {
    color : rgba( 255, 255, 255, 0.5 );
    margin-top : 0;
    margin-bottom : 5rem;
  }

  span {
    display: block;
  }

}

.summary-content,
.experience-content,
.education-content,
.publications-content {
  margin-top : 5rem;
  margin-bottom : 5rem;
  @media print { 
    margin-top: 0;
    margin-bottom : 1rem;
  }
} 

.summary {
  color : rgba( 255, 255, 255, 0.8 );
  background-color: #2E371C;

  .summary-content {
    .make-row();

    h2 {
      .make-xs-column( 12 );
      margin-bottom : 3rem;
    }

    p {
      .make-xs-column( 10 );
      .make-xs-column-offset( 1 );
      .make-sm-column( 8 );
      .make-sm-column-offset( 2 );
      @media print { 
        .make-xs-column( 8 );
        .make-xs-column-offset( 2 );
      }

      font-size : 120%;
      font-weight: 300;
    }
  }
}

.experience, .education {

  @media print {
    page-break-before: always;
    page-break-inside: avoid;
  }

  .highlights {
    .make-row();
  }

  .technology, .leadership, .entrepreneurship {
    .make-xs-column( 12 );
    .make-sm-column( 4 );
    @media print { .make-xs-column( 4 ); }


    ul {
      padding-left: 1.75rem;
      margin-bottom: 1rem;
    }

    li {
      margin-top: 0;
      list-style-type: disc;
    }
  }

  .notable-achievement {
    .make-xs-column( 12 );
    .make-sm-column( 3 );
    @media print { .make-xs-column( 3 ); }
  }

}

.organization {

  margin-top: 5rem;
  margin-bottom : 6rem;
  @media print { 
    margin-top: 1rem;
    margin-bottom : 1.5rem;
  }
  
  header {
    .make-row();

    .job-title, .credential-name {
      .make-xs-column( 12 );
      .make-sm-column( 8 );
      margin-bottom: 3rem;
      color: #2E371C;
      font-size: 250%;
      height: 38px;
      @media print { 
        .make-xs-column( 8 ); 
        margin-bottom: 1.5rem;
      }
    }

    .tenure {
      .make-xs-column( 12 );
      .make-sm-column( 4 );
      font-weight: lighter;
      text-align: right;
      padding-top: 5px;
      margin-top: 20px;
      margin-bottom: 3rem;
      font-size: 150%;
      height: 38px;
      @media print { 
        .make-xs-column( 4 );
        margin-bottom: 2rem;
      }
    }

    .organization-logo {
      .make-xs-column( 8 );
      .make-sm-column( 3 );
      @media print { .make-xs-column( 3 ); }

      margin-bottom : 1rem;
    }

    .organization-summary {
      .make-xs-column( 12 );
      .make-sm-column-offset( 1 );
      .make-sm-column( 8 );
      @media print { 
        .make-xs-column( 8 );
        .make-xs-column-offset( 1 );
      }      
    }
  }

}

.credential {
  margin-top: 5rem;
  margin-bottom : 6rem;
  @media print { 
    margin-top: 1rem;
    margin-bottom : 1.5rem;
  }

  .make-row();
  
  header {
    .make-xs-column( 12 );

    .credential-name {  
      .make-xs-column( 12 );
      .make-sm-column( 8 );
      margin-bottom: 3rem;
      color: #2E371C;
      font-size: 200%;
      @media print { 
        .make-xs-column( 8 ); 
        margin-bottom: 1.5rem;
      }
    }

    .tenure {
      .make-xs-column( 12 );
      .make-sm-column( 4 );
      font-weight: lighter;
      text-align: right;
      padding-top: 5px;
      margin-top: 20px;
      margin-bottom: 3rem;
      font-size: 150%;
      height: 38px;
      @media print { 
        .make-xs-column( 4 );
        margin-bottom: 2rem;
      }
    }

  }

  .organization-details {
    .make-xs-column( 12 );
    .make-sm-column( 3 );
    @media print { .make-xs-column( 3 ); }
  }

  .organization-logo {
    .make-xs-column( 12 );
    .make-sm-column( 12 );
  }

  .highlights {
    .make-xs-column( 12 );
    .make-sm-column( 9 );
    @media print { .make-xs-column( 9 ); }
  }

  .highlights-content {
    .make-row();

    .notable-achievement {
      .make-xs-column( 12 );
      .make-sm-column( 6 );
      @media print { .make-xs-column( 6 ); }
    }
  }

}

.education {
  background-color: #E2EBC3; 
}

.publications {
  background-color : #D8E09B;

  h2 {
    margin-bottom : 5rem;
    @media print { 
      margin-bottom : 1rem;
    }
  }

  .publications-content {
    .make-row();
  }

  .citation {
    .make-xs-column( 12 );
    .make-sm-column( 8 );
    .make-sm-column-offset( 2 );
    margin-top : 1.5rem;
    margin-bottom : 1.5rem;
    @media print {
      .make-xs-column( 8 );
      .make-xs-column-offset( 2 );
    }

    p {
      margin-bottom : 0.25rem;
    }
  }

  .paper {
    font-style: italic;
  }
}

.organization-name {
  display: none;
}
